.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    nav {
        background-color: transparent;
        box-shadow: none;
        line-height: 24px;
        display: flex;
        justify-content: center;
    }
}
.post {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 20px auto;
    /* width: 400px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    &__item {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 1rem;
        width: 400px;
        margin-left: 1rem;
        cursor: pointer;
        @include _768 {
            width: 100%;
            font-size: 14px;
        }
        &:hover {
            background-color: #ccc;
        }
        &:active {
            background-color: #8f8c8c;
        }
    }
    &__link {
        @extend .btn;
        background-color: #26a69a;
        border-color: #26a69a;
        &:hover {
            background-color: #158176;
            border-color: #158176;
        }
        &:active {
            background-color: #0e5c54;
            border-color: #0e5c54;
        }
        &--center {
            margin: 0 auto;
        }
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__detail {
        font-family: "Roboto", sans-serif;
        h3,
        p {
            padding-left: 10px;
        }
        p {
            font-size: 17px;
        }
        h4 {
            text-align: center;
        }
        ul {
            list-style: circle !important;
            padding-left: 40px;
            li {
                list-style-type: initial !important;
                font-size: 15px;
            }
        }
    }
    &__title {
        text-align: center;
    }
}
.c-sliding-pagination {
    &__list {
        @include _768 {
            display: none;
        }
        &-element {
            padding: 0 !important;
            &--disabled {
                color: #000;
            }
        }
    }
    &__page {
        padding: 0.6rem;
        display: block;
        font-size: 20px;
    }
}
